<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EDC, RIT</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/agencycopy.css" rel="stylesheet">

</head>

<body>




  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="index - Copy (1).html"></a>
      <img src="img/edclogoweb1.png" width="50" height="50" alt="edc logo">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger active" href="/#portfolio">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#services">Startups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index - Copy (1).html#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  



  <div class="container" style="padding-top: 100px;">
    <div class="row">
      <div class="col-lg-12 text-center"><br>
        <h2 class="section-heading text-uppercase" style="color: rgb(127, 71, 117);">Event Calender</h2>
        <br><br>
        <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>  -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/orientation.JPG" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>31st August 2019</h4>
                <h4 class="subheading">EDC Orientation</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">This event is conducted for freshers to introduce them to the E-cell of RIT</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/meet1.jpeg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>12th September 2019</h4>
                <h4 class="subheading">First Meet Basic Building of Entrepreneurial ideas</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">This event is to brief the students about ways of building ideas into running
                  their own business from scratch</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/upmeet.jpeg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>17th September 2019</h4>
                <h4 class="subheading">Upstarter Meet</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">The platform is provided to all emerging ideas to learn how to run business from
                  scratch</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/under25.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>19th September 2019</h4>
                <h4 class="subheading">Under 25 Summit</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Under 25 RIT Campus Summit will be a one day intercollegiate summit opened to
                  students of all disciplines.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/ind2.jpeg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>29th September 2019</h4>
                <h4 class="subheading">EDC Alumni Talk</h4>
                <h4 class="subheading">Mr. Suraj Singh(Founder E-Drives)</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">It is a platform provided by the EDC-RIT to the alumni to share their experience
                  as an Entrepreneur with the Students</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/mystory.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>3rd October 2019</h4>
                <h4 class="subheading">My Story Session</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Successful Entrepreneurs come in and share their journey with the students</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/meet2.jpeg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>9th October 2019</h4>
                <h4 class="subheading">Second Meet</h4>
                <h4 class="subheading">EDC RIT Case Study Challenge</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">A time based case study challenge based on different business for the students to
                  analyze and come up with optimized solution</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/ind1.jpeg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>16th October 2019</h4>
                <h4 class="subheading">EDC Alumini Talk</h4>
                <h4 class="subheading">By Mr. Shashank R.</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">It is a platform provided by the EDC-RIT to the alumni's to share their Experience
                  with the Entrepreneur</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/meet3.jpeg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>25th November 2019</h4>
                <h4 class="subheading">Third Meet</h4>
                <h4 class="subheading">Workshop on Digital Marketing</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">A workshop conducted to emphasize on the importance of digital marketing for
                  startups</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be a Part
                <br>Of Our
                <br>Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="footer" style="background: white;">
    <!-- Your Company Name -->
    <h2 class="company-name condensed uppercase white bold">The Entrepreneurship Development Center</h2>
    <!-- Copyright -->
    <p class="copyright normal" style="text-align: center;">© 2019-20 All Rights Reserved. Made with <i
        class="fas fa-heart" style="color: red"></i> by EDC Web team.</p>
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/agency.min.js"></script>

 

</body>

</html>