<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EDC RIT</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/agency.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <img src="img/edclogoweb1.png" width="50" height="50" alt="edc logo">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Startups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container head-back">
      <img src="img/edclogoweb1.png" class="image" width="200" height="250" alt="edc logo">
      <div class="intro-text">
        <div class="intro-heading text-uppercase">Entrepreneurship development centre</div>
        <div class="intro-heading-2 text-uppercase"><b>RAMAIAH INSTITUTE OF TECHNOLOGY</b></div>
        <br>
        <div class="intro-lead-in" style="color: rgb(42, 95, 241);">" Making Leaders Of Today! "</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">Know More</a>
      </div>
    </div>
  </header>

  <!-- About -->
  <section class="page-section" id="about">
    <div class="container">
      <h1 class="about-text" style="color: rgb(127, 71, 117);">ENTREPRENEURSHIP DEVELOPMENT CELL & CENTRE FOR ADVANCED
        TRAINING & CONTINUING EDUCATION
      </h1>
      <br>
      <p class="about-text">
        Entrepreneurship Development Centre (EDC), MSRIT, is a platform for MSRIT students which is dedicated to the
        development of multidimensional skills. EDC serves as a forum to bring together the heterogeneous culture of
        students from various disciplines.
      </p>
      <p class="about-text">
        EDC invites various eminent entrepreneurs to deliver lectures in order to educate students about the joys and
        hardships of entrepreneurship. Guest lectures, workshops, case studies and group discussions are conducted
        throughout the year to involve students in activities that are essential to be an entrepreneur.
      </p>
      <p class="about-text">
          Entrepreneurship Development Centre also actively incubates start-up ideas by creating the required ecosystem to be an entrepreneur.
      </p>
      <br>
      <h3 class="about-text" style="color: rgb(127, 71, 117);">VISION</h3>
      <p class="about-text">
        To provide and sustain entrepreneurial activities to foster startup culture and strive to implement
        environmental, social and economic solutions.
      </p>
      <br>
      <h3 class="about-text" style="color: rgb(127, 71, 117);">MISSIONS</h3>
      <p>
        <ul>
          <li>To generate new and innovative ideas.</li>
          <li>To organize entrepreneurial Conclaves/Ideathon/Hackthon/Competitions.</li>
          <li>To convert innovative ideas into tangible products and solutions.</li>
          <li>To encourage start-ups and its ecosystem.</li>
        </ul>
      </p>
      <br>
      <h3 class="about-text" style="color: rgb(127, 71, 117);">CORE VALUES</h3>
      <p>
        <ul>
          <li>To identify creative students and inspire them with an innovative ecosystem which provides professional
            and ethical inputs to become successful entrepreneurs.</li>
          <li>To enable students to follow the path of enterprise with commitment to service.</li>
        </ul>
      </p>
    </div>
  </section>

  <!-- Portfolio Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase" style="color: rgb(127, 71, 117);">EVENTS</h2>

        <div class="bs-example">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img\o1copy.jpeg" height="500px" width="1080px" alt="First Slide">
              </div>
              <div class="carousel-item">
                <img src="img\o3.jpeg" height="500px" width="1080px" alt="Second Slide">
              </div>
              <div class="carousel-item">
                <img src="img\o2.jpeg" height="500px" width="1080px" alt="Third Slide">
              </div>
              <div class="carousel-item">
                <img src="img\o4.jpeg" height="500px" width="1080px" alt="Third Slide">
              </div>
              <div class="carousel-item">
                <img src="img\o6.jpeg" height="500px" width="1080px" alt="Third Slide">
              </div>
              <div class="carousel-item">
                <img src="img\o5.jpeg" height="500px" width="1080px" alt="Third Slide">
              </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
        <h3><a class="btn btn-primary btn-xl text-uppercase" href="\eventCalender">
            Event Calender
          </a></h3>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase" style="color: rgb(127, 71, 117);">STARTUPS</h2>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <img class="mx-auto rounded-circle" src="img\e-drive.png" style="height: 200px ;" alt="startup1">
          <h4 class="service-heading">E-Drive</h4>
         <p class="text-muted"></p> 
        </div>
        
        <div class="col-md-4">
          <img class="mx-auto rounded-circle" src="img\adcom12.png" style="height:200px;" alt="startup1">
          <h4 class="service-heading">@Dcom</h4>
          <p class="text-muted"></p>
        </div>

        <div class="col-md-4">
            <img class="mx-auto rounded-circle" src="img\aidapp.png" style="height:200px;" alt="startup1">
            <h4 class="service-heading">Aidapp</h4>
            <p class="text-muted"></p>
          </div>
      </div>
      <div class=" text-center">
        <h3><a class="btn btn-primary btn-xl text-uppercase" href="/startup">
            More Startups
          </a></h3>
      </div>
    </div>
  </section>


  <!-- Team -->
  <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase" style="color: rgb(127, 71, 117);">Our Amazing Team</h2>
          <h3 class="section-subheading text-muted"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="img/principal.jpg" alt="">
            <h4>Dr. N.V.R NAIDU</h4>
            <p class="text-muted">Principal<br>Ramaiah Institute of Technology</p>
          


          </div>
        </div>
        <div class="col-sm-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="img/chethan1.jpeg" alt="">
            <h4>Dr. C.S. Chethan Kumar</h4>
            <p class="text-muted">

              Associate Professor<br>

              IEM Department<br>

              EDC-CATCE coordinator</p>
          <!--  <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>  -->
          </div>
        </div>
      </div>
      <div class=" text-center">
        <h3><a class="btn btn-primary btn-xl text-uppercase" href="/team">
            See More
          </a></h3>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading text-uppercase ">GET IN TOUCH</h1>
          <h3 class="section-subheading" style="color:#e9ebf0;">Feel free to contact us in case of any query</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <form id="contactForm" method="post" action="/" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input style="color: white;" class="form-control" id="name" name="name" type="text" placeholder="Your Name *" required="required"
                    data-validation-required-message="Please enter your name." width="100px">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input style="color: white;" class="form-control" id="email" name="email" type="email" placeholder="Your Email *" required="required"
                    data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input style="color: white;" class="form-control" id="phone" type="tel" name="phone" placeholder="Your Phone *" required="required"
                data-validation-required-message="Please enter your phone number.">
              <p class="help-block text-danger"></p>
            </div>


            <div class="form-group">
              <textarea style="color: white;" class="form-control" id="message" name="message" placeholder="Your Message *" required="required"
                data-validation-required-message="Please enter a message."></textarea>
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <div class="col-lg-12 text-center">
                <div id="success">
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>   
                </div>
              </div>
            </div>
        </div>
        </form>
        <div class="col-sm-6">
          <ul class="address" style="color: white">
            <span style="color: skyblue;"><i class="fas fa-home" style="color: skyblue;"></i> Address: <br>
              <ul style="color: skyblue ;">ESB-311</ul>
              <ul style="color: skyblue ;">Engineering science block</ul>        
              <ul style="color: skyblue ;">Ramaiah Institute of Technology</ul>
              <ul style="color: skyblue ;">MSR nagar ,Mathikere, Bengaluru</ul>
               </span>
            <span style="color: skyblue;"><i class="fas fa-mobile-alt" style="color: skyblue;"></i> Phone: <br>
              <ul style="color: skyblue;">+91-8826394813 </ul>
              <ul style="color: skyblue;">+91-7406469791</ul>
            </span>
            <span style="color: skyblue;"><i class="fas fa-envelope" style="color: skyblue;"></i> Email:  edc@msrit.edu</span></li><br>
            <span style="color: skyblue;"><i class="fas fa-globe-americas" style="color: skyblue;"></i>Website:  edc-msrit.edu</span>
            </li><br>
            <p><iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.0818133942835!2d77.56249751408438!3d13.030461890817293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17dedd4dcca9%3A0x6075bd8d8aed97ab!2sRamaiah%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1568286825621!5m2!1sen!2sin"
                width="200" height="200" frameborder="0" style="border:0; margin-left: 40px; margin-top: 20px;"
                allowfullscreen=""></iframe></p>
          </ul>
          <div class="row" style="text-align: center;">

            <a style="margin-top: 30px; margin-left: 80px;font-size: 50px " href="https://www.facebook.com/EDCMSRIT/"
              target="_blank" data-wow-delay="0.3s"><i class="fab fa-facebook-f" style="color: #3b5998;"></i></a>
            <a style="margin-top: 30px; margin-left: 50px;font-size: 50px " href="https://instagram.com/edcrit_?igshid=b8wgoyphj8f3"
              target="_blank" data-wow-delay="0.3s"><i class="fab fa-instagram" style="color: rgb(221,42,123);"></i></a>
            <a style="margin-top: 30px; margin-left: 50px;font-size: 50px " href="@"
              target="_blank" data-wow-delay="0.3s"><i class="fab fa-youtube" style="color: #c4302b;"></i></a>
            <a style="margin-top: 30px; margin-left: 50px;font-size: 50px " href="http://linkedin.com/in/edcrit"
              target="_blank" data-wow-delay="0.3s"><i class="fab fa-linkedin-in" style="color: #0e76a8;"></i></a>
          </div>

        </div>
      </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <!-- Your Company Name -->
    <h2 class="company-name condensed uppercase white bold">The Entrepreneurship Development Centre</h2>
    <!-- Copyright -->
    <p class="copyright normal" style="text-align: center;">© 2019-20 All Rights Reserved. Made with <i
        class="fas fa-heart" style="color: red"></i> by EDC Web team.</p>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/agency.min.js"></script>

</body>

</html>